<div>
  <div>
    <label style="color:coral;line-height: inherit;font-size:25px">First Name: </label>
    <span>
      {{ businessCard.firstName }}
    </span>
  </div>
  <div>
    <label style="color:coral;line-height: inherit;font-size:25px">Last Name: </label>
    <span>
      {{ businessCard.lastName }}
    </span>
  </div>
  <div>
    <label style="color:coral;line-height: inherit;font-size:25px">Phone Number: </label>
    <span>
      {{ businessCard.phoneNumber }}
    </span>
  </div>
  <div>
    <label style="color:coral;line-height: inherit;font-size:25px">Email: </label>
    <span>
      {{ businessCard.email }}
    </span>
  </div>
  <div>
    <label style="color:coral;line-height: inherit;font-size:25px">Extra Text: </label>
    <span>
      {{ businessCard.text }}
    </span>
  </div>
  <div>
    <img [src]="businessCard.imageUri" [height]="270" [width]="360">
  </div>
</div>